:root {
    --header-color: #1F2937;
    --section1-color: #2a384b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#backgroundHome {
    display: flex;
    background-color: var(--section1-color);
    justify-content: center;
    align-items: center;
    height: 93vh;
    color: bisque;
}

#hero {
    width: 80vw;
    height: 80vh;
    align-self: center;
    justify-self: center;
}

#content {
    display: flex;
    flex-direction: column;
}

.header, .section1, .section2, .section3, .section4-bg, .footer {
    padding-left: 80px;
    padding-right: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #E5E7EB;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav {
    display: flex;
    font-size: large;
    color: #E5E7EB;
    text-align: center;
}

.button-nav {
    border: 3px solid #1F2937;
    padding: 15px 0;
    width: 95px;
    transition: all;
}

.button-nav:hover, .active {
    font-weight: bold;
    border-bottom-color: #E5E7EB;
    background-color: var(--section1-color);
    cursor: pointer;
    transition: border-bottom-color 0.25s;
}